<html>
<head>
    <meta charset="UTF-8">
    <title>Grants API</title>
    <style>
        a {
            background-color: white;
            color: black;
            padding: 2.5px;
            text-decoration: none;
            border: 1px solid black;
        }
        a:hover {
            background-color: black;
            color: white;
        }
        b {
            color: red;
        }
        body {
            background-color: #00457C;
            font-family: "Trebuchet MS" , Arial, sans-serif;
        }
        form table {
            color: red;
        }
        h1 {
            color: white;
            margin: 0px;
        }
        h2 {
            margin: 0px;
        }
        #submit_btn {
            font-size: 20px;
        }
        label {
           font-weight: bold;
        }
        #output table {
            background-color: white;
            border-collapse: collapse;
        }
        #output table tr:nth-child(even) td{
            background-color: lightgray;
        }
        #output table tr:nth-child(odd) td{
            background-color: white;
        }
        #output table, th, td {
            text-align: center;
            border: 1px solid black;
            font-size:xx-small;
        }
        #output th {
            background-color: lightskyblue;
        }
        select {
            font-size: 20px;
        }
        #white_div {
            background-color: white;
            padding: 10px;
        }
    </style>
</head>
<body>
    <div>
        <h1>Government Grants API</h1>
        <a href="/">Front Page</a>
        <a href="/form">Online Form</a>
        <a href='/api_doc'>API Documentation</a>
        <a href='https://github.com/JJ8428/Government_Grants_API'>Github Repo</a>
    </div>
    <hr>