<%- include('partials/header') %>
    <div id="white_div">
        <h2>Welcome</h2>
        <hr>
        <p>
            My name is JJ Satti and this is just little API I created as a personal project. It's purpose it to make a quick way for me to filter through grants
            with a UI and functionality that I myself am familiar with. 
            <br><br>
            There already exists an official API for <b>https://www.grants.gov/</b>, this only exists to serve as an practice of Node.js, Express.js, Python, Pandas, Heroku Development, etc.
            <br><br>
            Currently, there only exists 2 API methods both of which are POSTS. More info can be found in the API Documentation page.
        </p>
        <h2>Contact Info:</h2>
        <hr>
        Business Email: nsatti.sc@gmail.com
        <br><br>
        Github: <a href="https://github.com/JJ8428">JJ8428</a>
        <br><br>
        LinkedIn: <a href="https://www.linkedin.com/in/jagjit-satti/">Jagjit Satti</a>
        <br><br>
        Both these links contains a great deal of information regarding my education, work history, skills, and past projects.
        If interested in inviting me for interviews for a possible job, <b>PLEASE CONTACT ME.</b> I would love any opportunity to build a career as a Software and ML/AI engineer.
        Resume is available on request.
    </div>
<%- include('partials/footer') %>
