<%- include('partials/header') %>
    <div id="white_div">
        <h2>Welcome</h2>
        <hr>
        <p>
            My name is JJ Satti and this is just little API I created as a personal project. It's purpose it to make a quick way for me to filter through grants
            with a UI and functionality that I myself am familiar with. 
            <br><br>
            There exists an API for <b>https://www.grants.gov/</b> already, but I just wanted to make one for my own excercise of Node.js, Express.js, Python, and Pandas.
            <br><br>
            Currently, there only exists 2 API methods both of which are POSTS. Only one is accesible to the public, the other is gaurded by a secret key.
            <br><br>
            This is the website (<a href="https://www.grants.gov/web/grants/search-grants.html">https://www.grants.gov/web/grants/search-grants.html</a>) which this API's function emulates.
            <br><br>
            <iframe src="https://www.grants.gov/web/grants/search-grants.html"></iframe>
        </p>
        <h2>Contact Info:</h2>
        <hr>
        Business Email: nsatti.sc@gmail.com
        <br><br>
        Github: <a href="https://github.com/JJ8428">JJ8428</a>
        <br><br>
        LinkedIn: <a href="https://www.linkedin.com/in/jagjit-satti/">Jagjit Satti</a>
        <br><br>
        Both these links contains a great deal of information regarding my education, work history, skills, and past projects. Resume is available on request.
        <br><br>
        If interested inviting for interviews or coding assesments, <b>PLEASE CONTACT ME.</b> I really want build a career as a Software and ML/AI engineer.
    </div>
<%- include('partials/footer') %>
